# Don't upload book snippets
/javascript/functional_light_js
/javascript/you_dont_know_js
/javascript/algo_list.js
/javascript/job_notes.md
/other_tutorials
/french
/tutorialinux/udemy-course/vm-info.txt
